<%- include('./partials/header.ejs')%>
	<main>
		<div class="container-fluid text-center">
			<div class="row">
				<div class="col-sm-6">
					<div class="row vh-half-main">
						<div class="col bg-seagreen border-seagreen d-flex flex-column justify-content-center">
							<h1>Grant's (Used) Games</h1>
							<p>A used video game marketplace. Browse current offerings to buy used games, or post your own games to sell quickly and easily!</p>
							<blockquote>You can't even tell they're used!</blockquote>
						</div>
					</div>
					<div class="row vh-half-main">
						<div class="col border-cerulean bg-modern"></div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row vh-half-main">
						<div class="col border-cerulean bg-retro"></div>
					</div>
					<div class="row vh-half-main">
						<div class="col bg-seagreen border-seagreen d-flex flex-column pt-5">
							<div class="container-fluid"><a href="/games" class="btn btn-light btn-lg">Browse Used Games
								&nbsp;&nbsp;<i class="bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<%- include('./partials/footer.ejs')%>
